h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#sketchPad {
    width: 720px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-style: double;
    border-width: 10px;
    margin: auto;
    padding: 10px;
}