h1 {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#sketchPad {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-style: double;
    border-width: 10px;
    margin: auto;
}

.cell {
    border-width: 0px;
    height: 6.4px;
    width: 6.4px;
    margin: 0px;
    padding: 0px;
}

.filled {
    background-color: black;
}